csharp/DesignPatterns/Factory/obj/*
csharp/DesignPatterns/Builder/obj/*
csharp/DesignPatterns/Builder/bin/*
.vs/*
csharp/DesignPatterns/.vs/*
csharp/DesignPatterns/Builder/bin/*
csharp/DesignPatterns/DeepCopyable/obj/*
csharp/DesignPatterns/DeepCopyable/bin/*
csharp/DesignPatterns/.vs/DesignPatterns/*
csharp/DesignPatterns/Singleton/Singleton/bin/*
csharp/DesignPatterns/Singleton/Singleton/obj/*
